<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="" href="/profile/1">My profile</a>
            </li>
            <li class="main-header__item">
                <a class="" href="/feed/">Feed</a>
            </li>
            <li class="main-header__item end">
                <a class="" href="/cart">Username</a>
            </li>
        </ul>
    </nav>
</header>